<!doctype html>
<html lang="en">
    <head>
        <title>Val Blog</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css">
    </head>
    <body>
        <div class='banner'>Valentine's Blog App</div>
        <div class='container'>
            <p class='welcome'>Create a new post</p>
            <form action="create" method="POST" style="display:inline;">
                <input type="text" name="title" style="display:block;" placeholder="Title">
                <textarea cols="40" rows="20" name="content" style="display:block;" placeholder="Post"></textarea>
                <input type="text" name="author" style="display:block;" placeholder="Author">
                <input type="submit" value="Submit" style="display:inline;">
            </form>
            <a href="/">Cancel</a>

        </div>
    </body>
</html>